@model Lab2.Models.Hospital

<h2>Редактировать больницу</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label">Адрес</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Specializations" class="control-label">специализация</label>
        <input asp-for="Specializations" class="form-control" />
        <span asp-validation-for="Specializations" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChiefDoctor" class="control-label">Главный врач</label>
        <input asp-for="ChiefDoctor" class="form-control" />
        <span asp-validation-for="ChiefDoctor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FoundationYear" class="control-label">Год основания</label>
        <input asp-for="FoundationYear" class="form-control" />
        <span asp-validation-for="FoundationYear" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
    <a asp-action="Index">Назад</a>
</form>
