@{
    ViewData["Title"] = "Задание";
}

<h1>@ViewData["Title"]</h1>

<p>Лабораторная работа №3 ASP.NET MVC</p>

<p>Цель лабораторной - освоение базовых концепций фреймворка ASP.NET MVC.</p>
<p>Вариант задания - 7. Больница (название, адрес, специализации, главный врач, год основания)-Пациент (номер медицинской карты, фамилия, диагноз, статус)</p>
